<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
    xmlns:tools = "http://schemas.android.com/tools"
    package = "com.example.musicstructureapp" >

    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Since the focus of this article is building a media player app,we need the MEDIA_CONTENT_CONTROL to control media playback -->
    <permission android:name = "android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup = "true"
        android:icon = "@mipmap/launcher_icon"
        android:label = "@string/app_name"
        android:roundIcon = "@mipmap/launcher_icon_round"
        android:supportsRtl = "true"
        android:theme = "@style/AppTheme"
        tools:ignore = "AllowBackup,GoogleAppIndexingWarning" >
        <activity android:name = ".MainActivity" >
            <intent-filter >
                <action android:name = "android.intent.action.MAIN" />

                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter >
        </activity >
        <activity
            android:name = ".SongActivity"
            android:label = "@string/song_list" />
        <activity android:name = ".NowPlayActivity" >
        </activity >
        <activity android:name = ".NoSongActivity" >
        </activity >
    </application >

</manifest >